.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 70px;
  background-color: #e46c1c;
  padding: 5px 20px;
}

.layout-title {
  color: #583178;
  margin-right: 10px;
  font-size: 50px;
}

.layout-menu-item {
  text-decoration: none;
}

.layout-menu-item:hover,
.layout-menu-item:visited,
.layout-menu-item:active {
  text-decoration: none;
}

.layout-menu-item:last-child {
  color: white;
  background-color: #583178;
  font-size: 40px;
  padding: 5px 15px;
  border-radius: 20px;
}

.layout-footer-text {
  text-align: center;
  color: #333333;
  margin-top: 15px;
}
.layout-footer-text a {
  text-decoration: none;
  color: #2146BB;
}
.layout-footer-text a:hover, .layout-footer-text a :visited, .layout-footer-text a :active {
  text-decoration: none;
  color: #2146BB;
}

#content {
  text-align: center;
  margin: 0 10vw;
  min-height: 90vh;
}

.index-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.index-logo {
  width: 850px;
}

.index-text-container {
  width: 100%;
}

.index-text {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  text-align: justify;
  color: #333333;
}

#vacantes-title {
  color: #583178;
}

#vacantes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
  justify-content: space-between;
}

.vacante {
  position: relative;
  min-width: 200px;
  width: 200px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 15px;
}

.card-text {
  margin-bottom: 10px;
}

.ver-button {
  width: 100%;
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-align: right;
  color: #583178;
}
.ver-button:active, .ver-button:visited {
  color: #583178;
}

.job-container {
  padding: 10px 20px;
}
.job-container .job-title {
  color: #333333;
  margin-bottom: 10px;
}

.job-tags-container {
  display: flex;
  gap: 10px;
  margin: 10px 0 30px;
}
.job-tags-container .job-icon-container {
  display: flex;
  align-items: center;
  gap: 2px;
}
.job-tags-container .icon {
  color: #583178;
}
.job-tags-container .job-icon-text {
  color: #9E9C9C;
}

.job-description-container .job-subtitle {
  color: #333333;
  margin-top: 10px;
  margin-bottom: 5px;
}
.job-description-container .job-description-text {
  color: #333333;
}

.job-apply-button {
  margin-top: 20px;
  background-color: #583178;
  color: #9E9C9C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 30px;
  display: block;
}
.job-apply-button:hover {
  color: white;
}

dialog {
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
dialog #close-modal-button {
  cursor: pointer;
  margin-left: 80vw;
}
dialog .form-group {
  display: flex;
  max-width: 500px;
  gap: 2px;
  flex-direction: column;
  margin-bottom: 20px;
}
dialog .form-group input {
  padding: 5px 0;
  text-indent: 10px;
  outline: none;
  border-radius: 5px;
  border: solid 0.5px #583178;
}
dialog input[type=checkbox] {
  accent-color: #583178;
  border: none;
}

* {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
