@import "vars";

.job-container {
  padding: 10px 20px;

  .job-title {
    color: $grey;
    margin-bottom: 10px;
  }
}

.job-tags-container {
  display: flex;
  gap: 10px;
  margin: 10px 0 30px;

  .job-icon-container {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .icon {
    color: $darkViolet;
  }

  .job-icon-text {
    color: $lowGrey;
  }
}

.job-description-container {
  .job-subtitle {
    color: $grey;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .job-description-text {
    color: $grey;
  }
}

.job-apply-button {
  margin-top: 20px;
  background-color: $darkViolet;
  color: $lowGrey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 30px;
  display: block;

  &:hover {
    color: white;
  }
}

dialog {
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 5px;

  #close-modal-button {
    cursor: pointer;
    margin-left: 80vw;
  }

  .form-group {
    display: flex;
    max-width: 500px;
    gap: 2px;
    flex-direction: column;
    margin-bottom: 20px;

    input {
      padding: 5px 0;
      text-indent: 10px;
      outline: none;
      border-radius: 5px;
      border: solid .5px $darkViolet;
    }
  }

  input[type="checkbox"] {
    accent-color: $darkViolet;
    border: none;
  }
}