$lightOrange: #f4841d;
$orange: #e46c1c;
$darkOrange: #dc6c1c;
$violet: #583478;
$darkViolet: #583178;
$lightViolet: #6e518a;
$grey: #333333;
$blue: #2146BB;

@export $lightOrange;
@export $orange;
@export $darkOrange;
@export $violet;
@export $darkViolet;
@export $lightViolet;
@export $grey;
@export $blue;
